.losangos {
    background-image: url(../../img/relatos/losangos.svg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 90px;
    position: relative;
    bottom: -46px;
}

.losangos.inferiores {
    margin-top: -91px;
    z-index: 1;
}

@media screen and (min-width: 0) {
    .relatos {
        background-color: var(--roxo);
        padding-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .relatos {
        padding-top: 128px;
    }
}


