@media screen and (min-width: 0) {

    .cabecalho__texto--titulo{
        font-family: var(--awesome);
        font-size: 28px;
        color: var(--rosa-claro);
        align-items: center;
        max-width: 278px;
        margin: auto;
        margin-top: 56px;
    }

    .destaque--rosa {
        color:var(--rosa);
        font-weight: 100;
    }

    .cabecalho__texto--corpo{
        font-family: var(--josefin);
        color: var(--branco);
        font-weight: 600;
        font-size: 12px;
        max-width: 278px;
        margin: 24px auto;
        line-height: 1.4;
    }


    .cabecalho__texto--botoes{
        display: flex;
        padding-bottom: 20px;
        max-width: 278px;
        margin: auto;
    }

    .botao1{
        padding: 8px 14px;
        width: 128px;
        height: 24px;
        line-height: 10px;
        font-size: 12px;
        font-weight: 700;
        font-family: var(--josefin);
        background-color: var(--branco);
        color: var(--roxo);
        border-radius: 15px;
        transition: 0.5s ease-out all;
        margin-right: 14px;
    }

    .botao2{
        padding: 8px 14px;
        width: 128px;
        height: 24px;
        line-height: 8px;
        font-size: 12px;
        font-weight: 700;
        font-family: var(--josefin);
        border: 2px solid var(--branco);
        color: var(--branco);
        border-radius: 15px;
        transition: 0.5s ease-out all;
    }

    .botao1:hover {
        background-color: var(--rosa-claro);
    }

    .botao2:hover {
        border-color: var(--rosa-claro);
        color: var(--rosa-claro)
    }

    @keyframes flutuar {
        0% {
            bottom: 0px;
        }

        50% {
            bottom: -18px;
        }

        100% {
            bottom: 0px;
        }
    }

    .cabecalho__texto--imagem{
        background: url(../../img/cabecalho/mulheres-cabecalho.svg) no-repeat center / contain;
        display: block;
        margin: 60px auto;
        width: 280px;
        height: 284px;
        position: relative;
        bottom: 0px;
        animation-name: flutuar;
        animation-duration: 3.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

}

@media screen and (min-width: 768px) {
    .cabecalho__texto--titulo{
        font-size: 48px;
        max-width: 465px;
    }

    .cabecalho__texto--corpo {
        font-size: 16px;
        max-width: 465px;
        margin: 32px auto;
    }

    .cabecalho__texto--botoes {
        max-width: 465px;
    }

    .botao1, .botao2 {
        padding: 10px 24px;
        font-size: 16px;
        border-radius: 32px;
        padding-top: 12px;
    }

    .cabecalho__texto--imagem{
        width: 470px;
        height: 363px; 
        margin: 54px auto 72px auto;   
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu {
        display: flex;
        justify-content: center;
    }
    
    .cabecalho__container {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        max-width: 844px;
        margin: auto;
        position: relative;
        right: -40px;
    }

    .cabecalho__texto--titulo {
        padding: 0px;
    }

    .cabecalho__texto--corpo {
        margin-top: 32px;
        padding: 0;
        position: initial;
        max-width: 465px;
        line-height: 22px;
    }

    .cabecalho__texto--botoes {
        margin-top: 50px;
        justify-content: start;
    }

    .cabecalho__texto--imagem {
        margin: 96px 0 140px 0px;
        height: 300px;
        width: 350px;
        right: -40px;
    }
}
