@media screen and (min-width: 0) {
    a {
        text-decoration: none;
    }

    .acoes__titulo-incentivo {
        font-family: var(--awesome);
        text-align: center;
        text-transform: uppercase;
        margin: 30px auto;
        max-width: 256px;
        font-size: 22px;
        color: var(--roxo);
    }

    .acoes__botao {
        padding: 8px 20px;
        width: 120px;
        height: 24px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        margin-right: 8px;
        font-family: var(--josefin);
        background-color: var(--roxo);
        color: var(--branco);
        border-radius: 15px;
        transition: 1s;
    }

    .acoes__botao:hover {
        background-color: var(--rosa);
    }
}

@media screen and (min-width: 768px) {
    .acoes__titulo-incentivo {
        font-size: 30px;
        max-width: 450px;
        margin: 50px auto;
    }

    .acoes__botao {
        width: 185px;
        height: 40px;
        padding: 12px 28px;
        font-size: 16px;
        border-radius: 36px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1024px) {
    .acoes__titulo-incentivo {
        margin: 40px auto;
    }
}