@media screen and (min-width: 0) {
    .acoes__subtitulo {
        display: flex;
        justify-content: center;
    }

    .acoes__rabisco {
        background-image: url(../../img/acoes/underline.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 70px;
        width: 20px;
        margin-right: 10px;
    }

    .acoes__paragrafo {
        font-family: var(--josefin);
        font-size: 12px;
        color: var(--roxo-escuro);
        max-width: 262px;
        margin-top: 10px;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .acoes__subtitulo {
        margin-top: 30px;
    }

    .acoes__paragrafo {
        font-size: 20px;
        max-width: 481px;
    }

    .acoes__rabisco {
        height: 80px;
        width: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .acoes__paragrafo {
        font-size: 24px;
        max-width: 700px;
    }

    .acoes__rabisco {
        height: 80px;
        width: 30px;
    }
}