@media screen and (min-width: 0) {
    
    .comoAjudar {
        position: relative;
        padding-top: 80px;
        text-align: center;
        background: url(../../img/comoAjudar/blobs-small.svg) no-repeat center;
    }

    .comoAjudar::after {
        content: '';
        display: block;
        background: url(../../img/comoAjudar/listras-rosa.svg) center;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .comoAjudar {
        background: url(../../img/comoAjudar/blobs-big.svg) no-repeat center;
        padding-top: 120px;
    }
}