.acoes {
    background-color: var(--branco);
    padding-top: 68px;
    text-align: center;
}

@media screen and (min-width: 0) {
    .acoes__titulo {
        background-image: url(../../img/acoes/titulo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 56px;
    }

    .acoes__galeria {
        padding: 30px 0px;
    }

    .acoes__galeria-grupo1 {
        width: 380px;
        height: 355.42px;
    }

    .acoes__galeria-grupo2 {
        width: 380px;
        height: 323.73px;
    }

    .acoes__galeria-grupo3 {
        width: 380px;
        height: 507.77px;
    }

}

@media screen and (min-width: 768px) {
    .acoes__titulo {
        margin-left: 22%;
        width: 438.24px;
        height: 122.44px;
    }
    
    .acoes__galeria {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .acoes__galeria-grupo1 {
        width: 568.63px;
        height: 517.55px;
        margin: 4px 0;
    }

    .acoes__galeria-grupo2 {
        width: 568.63px;
        height: 457.85px;
        margin-bottom: 4px;
    }

    .acoes__galeria-grupo3 {
        width: 570px;
        height: 804.92px;
    }
}

@media screen and (min-width: 1024px) {
    .acoes__titulo {
        margin-left: 34%;
    }
    
    .acoes__galeria-grupo1 {
        width: 828px;
        height: 760px;
        margin: 6px 0;
    }

    .acoes__galeria-grupo2 {
        width: 828px;
        height: 672.33px;
        margin-bottom: 6px;
    }

    .acoes__galeria-grupo3 {
        width: 830px;
        height: 1182px;
    }

}